{
  "parser": "babel-eslint",
  "env": {
    "node": true, 
    "es6": true, 
    "browser": true
  },
  "plugins": [
    "import",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 0,
    "react/prop-types": 1
  }
}