{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "import",
    "react",
    "flowtype"
  ],
  "rules": {
    "no-console": 0,
    "react/prop-types": 1
  }
}